    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>3AMXPPGLN8</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.fluixtech.crm</key>
        <string>Fluix12</string>
        <string>PLACEHOLDER</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <string>Apple Distribution: SAMUEL CORCHO ORTEGA (3AMXPPGLN8)</string>
</dict>
</plist>