<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>3AMXPPGLN8</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.fluixtech.crm</key>
        <string>Fluix12</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution: SAMUEL CORCHO ORTEGA (3AMXPPGLN8)</string>
</dict>
</plist>